<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y29ja3RhaWx8ZW58MHx8MHw%3D&auto=format&fit=crop&w=1000&q=60');">
  <div class="container">
    <h1>Coctelero</h1>
    <p>Share your favorite cocktail recipes!</p>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name, required: false %>
      <%= f.submit "Create Your Drink", class:"btn btn-light" %>
    <% end %>
  </div>
